*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}

body{
    background-color: $fondoPrincipal;
}

.display{
    width: 100%;
    height: 2000px;
}
.imagenesInicio{
    background-color: black;
    width: 100%;
    height: 70vh;
}

.sticky{
    position: sticky;
    z-index: 1;
    left: 50%;
    width: 25vw;
    top: 10%;
}

.boxshadow{
    box-shadow: 0 0 5em black;
}
